<!--<div class="tabelike">
	<table style="width:350px">
		<tr>
  			<th>Alex</th>
  			<th>Liisu</th>
  			<th>Kokku</th>		
  		</tr>
		<tr>
  			<td><img src="media/syda.png" height="25" width="25" alt="syda"/></td>
  			<td><img src="media/syda.png" height="25" width="25" alt="syda"/></td>
  			<td><img src="media/syda1.png" height="20" width="40"alt="syda1"/></td>				
		</tr>
		<tr>
  			<td><img src="media/syda.png" height="25" width="25" alt="syda"/></td>
  			<td><img src="media/syda.png" height="25" width="25" alt="syda"/></td>
  			<td><img src="media/syda1.png" height="20" width="40" alt="syda"/></td>
		</tr>
		<tr>  			
			<td><img src="media/syda.png" height="25" width="25" alt="syda"/></td>
  			<td><img src="media/syda.png" height="25" width="25" alt="syda"/></td>
  			<td><img src="media/syda1.png" height="20" width="40" alt="syda"/></td>

		</tr>
	</table>
		</div><!--tabelike-->
<!--<button type="button" onclick=alert(today) onmouseover="playSound('media/clock.mp3');">Tänane kuupäev</button> 
		<span id="dummy"></span>
	</div><!--content-->
<!--</div><!--wrapper-->
	<script type="text/javascript" src="js/customsignsfooter.js"></script>
</body>
</html>