﻿<div id="gallery">
			<div onclick="dhtmlHistory.add('location1',{message: 'backbox'});countdown()">
				<a href="big/1.jpg" rel="lightbox[slide]" caption="MEIE!">
				<img src="media/main.gif" alt="nol1fe"/></a>
				<!--http://www.javascriptkit.com/script/script2/backbox/-->
			</div><!--onclick-->
				<a href="big/1.jpg"	rel="lightbox[slide]" caption="#"></a>
				<a href="big/2.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/3.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/4.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/5.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/6.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/7.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/8.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/9.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/10.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/11.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/12.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/13.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/14.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/15.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/16.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/17.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/18.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/19.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/20.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/21.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/22.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/23.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/24.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/25.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/26.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/27.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/28.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/29.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/30.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/31.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/32.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/33.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/34.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/35.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/36.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/37.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/38.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/39.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/40.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/41.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/42.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/43.jpg" rel="lightbox[slide]" caption="#"></a>
				<a href="big/44.jpg" rel="lightbox[slide]" caption="#"></a>	
		</div><!--gallery-->

	<div id="laulus6nad">
		
<b>"Tangled Up In You"</b><br/>
<br/>
You're my world <br/>
The shelter from the rain <br/>
You're the pills <br/>
That take away my pain <br/>
You're the light <br/>
That helps me find my way <br/>
You're the words <br/>
When I have nothing to say <br/>
<br/>
<p id="ref">
And in this world <br/>
Where nothing else is true <br/>
Here I am <br/>
Still tangled up in you <br/>
I'm still tangled up in you <br/>
Still tangled up in you <br/>
</p>
<br/>
You're the fire <br/>
That warms me when i'm cold <br/>
You're the hand <br/>
I have to hold as I grow old <br/>
You're the shore <br/>
When I am lost at sea <br/>
You're the only thing <br/>
That I like about me <br/>
<br/>
<p id="ref">
And in this world <br/>
Where nothing else is true <br/>
Here I am <br/>
Still tangled up in you <br/>
I'm still tangled up in you <br/>
</p>
<br/>
How long has it been <br/>
Since this storyline began <br/>
And I hope it never ends <br/>
And goes like this forever <br/>
<br/>
<p id="ref">
In this world <br/>
Where nothing else is true <br/>
Here I am <br/>
Still tangled up in you <br/>
Tangled up in you <br/>
</br>
...I'm still tangled up in you <br/>
Still tangled up in you
</p>
	</div><!--laulus6nad-->
		<div id="pildid">
	<?php foreach($pildid as $id=>$pilt):?>
		<a href="<?php echo "?mode=view&amp;id=$id";?>" title="---"><img src="<?php echo $pilt['small'];?>" alt="<?php echo $pilt['alt'];?>" <?php echo $pilt['smallsize']?> /></a>
	<?php endforeach; ?>
			</div>

