<p>
	<?php if($eelmine>=0):?>
 		<a href="<?php echo "?mode=view&amp;id=$eelmine";?>">Eelmine</a>
	<?php else:?>
 		Eelmine
	<?php endif;?>
	<?php if($jargmine>=0):?>
		<a href="<?php echo "?mode=view&amp;id=$jargmine";?>">Järgmine</a>
	<?php else:?>
		Järgmine
	<?php endif;?>
</p>
<p>
	<a href="<?php echo $myurl;?>">
		<img src="<?php echo $pildid[$id]['big']?>" alt="<?php echo $pildid[$id]['alt']?>" <?php echo $pildid[$id]['bigsize']?> class="borderless"/>
	</a>
</p>
<p><?php echo $pildid[$id]['alt']?></p>
